In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split

In [2]:
normal = pd.read_csv('c:/Users/ASUS/Desktop/ptbdb_normal.csv')
abnormal = pd.read_csv('c:/Users/ASUS/Desktop/ptbdb_abnormal.csv')

In [3]:
new_column_name = []
for num in range(abnormal.shape[1]-1):
    tem = 'time' + str(num)
    new_column_name.append(tem)
new_column_name.append("Label")    #label = 1 for abnormal
abnormal.columns = new_column_name    


column_name = []
for num in range(normal.shape[1]-1):
    tem = 'time' + str(num)
    column_name.append(tem)
column_name.append("Label")    #label = 0 for normal
normal.columns = column_name

abnormal.head()

,time0,time1,time2,time3,time4,time5,time6,time7,time8,time9,...,time178,time179,time180,time181,time182,time183,time184,time185,time186,Label
0,1.000000,0.606941,0.384181,0.254237,0.223567,0.276836,0.253430,0.184826,0.153349,0.121872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.000000,0.951613,0.923963,0.853303,0.791859,0.734255,0.672043,0.685100,0.670507,0.667435,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.977819,0.899261,0.230129,0.032348,0.142329,0.223660,0.328096,0.367837,0.381701,0.389094,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.935618,0.801661,0.805815,1.000000,0.722741,0.480789,0.454829,0.319834,0.266874,0.308411,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.925265,0.433352,0.073620,0.079197,0.136643,0.182934,0.182934,0.182376,0.196877,0.203569,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
data=[normal,abnormal]
data=pd.concat(data)

In [5]:
from sklearn.utils import shuffle
data=shuffle(data)                 
data.head()

,time0,time1,time2,time3,time4,time5,time6,time7,time8,time9,...,time178,time179,time180,time181,time182,time183,time184,time185,time186,Label
7456,0.925570,1.000000,0.791116,0.866747,0.567827,0.453782,0.444178,0.422569,0.458583,0.381753,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4625,0.943262,0.772340,0.587943,0.536170,0.525532,0.509929,0.505674,0.491489,0.492908,0.502128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10159,0.965831,0.834852,0.501708,0.430524,0.373007,0.332005,0.333713,0.334282,0.359909,0.369590,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1358,1.000000,0.851220,0.437561,0.178537,0.177561,0.206829,0.177561,0.197073,0.179512,0.182927,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9704,1.000000,0.823667,0.651435,0.384886,0.154657,0.063855,0.037493,0.006444,0.035735,0.136497,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [6]:
y = data["Label"].values   # our labels

data.drop(["Label"],axis=1,inplace=True)  

x = data  # our features.

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [7]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=0)

dtc.fit(x_train,y_train)

result = dtc.predict(x_test)

# Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,result)
print(cm)

#Accuracy 
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, result)
print(accuracy)

[[ 696  114]
 [ 107 1993]]
0.9240549828178695