In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split

In [2]:
normal = pd.read_csv('c:/Users/ASUS/Desktop/ptbdb_normal.csv')
abnormal = pd.read_csv('c:/Users/ASUS/Desktop/ptbdb_abnormal.csv')

In [3]:
new_column_name = []
for num in range(abnormal.shape[1]-1):
    tem = 'time' + str(num)
    new_column_name.append(tem)
new_column_name.append("Label")    #label = 1 for abnormal
abnormal.columns = new_column_name    


column_name = []
for num in range(normal.shape[1]-1):
    tem = 'time' + str(num)
    column_name.append(tem)
column_name.append("Label")    #label = 0 for normal
normal.columns = column_name

abnormal.head()

,time0,time1,time2,time3,time4,time5,time6,time7,time8,time9,...,time178,time179,time180,time181,time182,time183,time184,time185,time186,Label
0,1.000000,0.606941,0.384181,0.254237,0.223567,0.276836,0.253430,0.184826,0.153349,0.121872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.000000,0.951613,0.923963,0.853303,0.791859,0.734255,0.672043,0.685100,0.670507,0.667435,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.977819,0.899261,0.230129,0.032348,0.142329,0.223660,0.328096,0.367837,0.381701,0.389094,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.935618,0.801661,0.805815,1.000000,0.722741,0.480789,0.454829,0.319834,0.266874,0.308411,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.925265,0.433352,0.073620,0.079197,0.136643,0.182934,0.182934,0.182376,0.196877,0.203569,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
data=[normal,abnormal]
data=pd.concat(data)

In [5]:
from sklearn.utils import shuffle
data=shuffle(data)                 
data.head()

,time0,time1,time2,time3,time4,time5,time6,time7,time8,time9,...,time178,time179,time180,time181,time182,time183,time184,time185,time186,Label
2015,0.975071,0.727421,0.315897,0.105027,0.071925,0.070699,0.068247,0.063752,0.059665,0.062117,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9316,0.964458,0.889759,0.506626,0.244578,0.310843,0.295783,0.208434,0.208434,0.203614,0.218675,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
901,0.952055,0.854397,0.314185,0.062307,0.066947,0.095228,0.073796,0.059213,0.060760,0.056341,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2481,0.945295,0.674508,0.245077,0.076586,0.077681,0.051422,0.039934,0.031182,0.026258,0.023523,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
256,0.975410,0.825820,0.363115,0.072951,0.002869,0.094262,0.120082,0.106148,0.098361,0.097951,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
y = data["Label"].values   # our labels.

data.drop(["Label"],axis=1,inplace=True)  

x = data  # our features

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [9]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(x_train, y_train.ravel())

result = gnb.predict(x_test)

# Confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,result)
print(cm)

#Accuracy
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, result)
print(accuracy)

[[ 669  147]
 [1016 1078]]
0.6003436426116838