In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split

In [2]:
normal = pd.read_csv('c:/Users/ASUS/Desktop/ptbdb_normal.csv')
abnormal = pd.read_csv('c:/Users/ASUS/Desktop/ptbdb_abnormal.csv')

In [3]:
new_column_name = []
for num in range(abnormal.shape[1]-1):
    tem = 'time' + str(num)
    new_column_name.append(tem)
new_column_name.append("Label")    #label = 1 for abnormal
abnormal.columns = new_column_name    


column_name = []
for num in range(normal.shape[1]-1):
    tem = 'time' + str(num)
    column_name.append(tem)
column_name.append("Label")    #label = 0 for normal
normal.columns = column_name

abnormal.head()

,time0,time1,time2,time3,time4,time5,time6,time7,time8,time9,...,time178,time179,time180,time181,time182,time183,time184,time185,time186,Label
0,1.000000,0.606941,0.384181,0.254237,0.223567,0.276836,0.253430,0.184826,0.153349,0.121872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.000000,0.951613,0.923963,0.853303,0.791859,0.734255,0.672043,0.685100,0.670507,0.667435,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.977819,0.899261,0.230129,0.032348,0.142329,0.223660,0.328096,0.367837,0.381701,0.389094,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.935618,0.801661,0.805815,1.000000,0.722741,0.480789,0.454829,0.319834,0.266874,0.308411,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.925265,0.433352,0.073620,0.079197,0.136643,0.182934,0.182934,0.182376,0.196877,0.203569,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
data=[normal,abnormal]
data=pd.concat(data)

In [5]:
from sklearn.utils import shuffle
data=shuffle(data)                 
data.head()

,time0,time1,time2,time3,time4,time5,time6,time7,time8,time9,...,time178,time179,time180,time181,time182,time183,time184,time185,time186,Label
9177,0.902211,0.886054,0.865646,0.846939,0.839286,0.761905,0.707483,0.721088,0.704082,0.709184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4169,1.000000,0.407276,0.096008,0.087418,0.120768,0.126832,0.124558,0.126326,0.114452,0.121021,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9513,1.000000,0.599303,0.367247,0.220209,0.306620,0.279443,0.201394,0.136585,0.127526,0.128920,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5743,0.945506,0.466854,0.139326,0.097191,0.046629,0.040449,0.050562,0.038202,0.038764,0.047753,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2918,1.000000,0.604579,0.272633,0.001561,0.055671,0.116545,0.186785,0.301769,0.387097,0.400104,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [6]:
y = data["Label"].values   # our labels.

data.drop(["Label"],axis=1,inplace=True) 

x = data  # our features.

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [8]:
import xgboost as xgb

In [9]:
xgb_cls = xgb.XGBClassifier(objective="multi:softmax", num_class=3)

In [11]:
xgb_cls.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_class=3, num_parallel_tree=1,
              objective='multi:softmax', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [13]:
preds = xgb_cls.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [16]:
accuracy_score(y_test, preds)

0.9800687285223367

In [17]:
confusion_matrix(y_test, preds)

array([[ 791,   42],
       [  16, 2061]], dtype=int64)